* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    max-width: 1600px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.menu-items ul {
    display: flex;
    gap: 32px;
}

.menu-items ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.menu-items ul li a {
    text-decoration: none;
    color: black;
}

.menu-items ul li a:hover {
    color: #469165;
    transition: 0.3s;
}

.btn1 button {
    padding: 12px 16px;
    border: none;
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #469165;
    cursor: pointer;
}

.btn1 button:hover {
    background-color: transparent;
    color: #469165;
    border: 1px solid #469165;
    transition: 0.4s;
}

.hero-container {
    height: 674px;
    background: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
}
.hero-content{
    text-align: center;
    padding: 155px 340px;
}
.hero-content .btn2 button{
    background-color: white;
    padding: 8px 10px;
    border-radius: 30px;
    color: #469165;
    font-size: 16px;
}
.hero-content .btn2 button i{
    margin-right: 8px;  
}
.btn1 i{
    margin: 0px 10px;
}
.btn3{
    background-color: transparent;
}
.hero-content .btn2 button:hover{
    background-color: transparent;
    color: white;
    transition: 0.4s;
}
button img{
    width: 16px;
    height: 16px;
    margin: 0px 8px;
}
.hero-content h1{
    font-size: 85px;
    font-weight: 900;
    color: white;
}
.hero-content h1 span{
    display: block;
    color: #469165;
    margin-bottom: 16px;
}
.hero-content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    margin-bottom: 32px;
}
.hero-content .btn1 button{
    margin-left: 20px;
}
.note-container{
    margin-top: 80px;

}
.note-container-text{
    text-align: center;
}
.note-container-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.note-container-text p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}
.note-card{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: 1360px;
}
.card1{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    padding: 24px;
    text-align: center;
    width: 280px;
    height: 250px;
}
.card1 .fa-solid{
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #ffffff;
    background-color: #F95555;
    border-radius: 50%;
    padding-top: 12px;
}
.card1 h3{
    margin: 16px 0px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.card1 p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    line-height: 20px;
    width: 240px;
}
.brain-content{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px;
}

.brain-text {
    padding: 102px 0px;
}
.brain-text p {
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    line-height: 24px;
    margin-bottom: 40px;
}
.color-green{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.brain-text h6{
    font-size: 16px;
    font-weight: 600;
    color: #001931;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain-text i{
    color: #469165;
    margin-right: 8px;
}
.early-access-content{
    background-color: #F7F6F2;
    width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
}
.early-access-section{
    margin: 0px 120px 120px 120px;
}
.early-access-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.early-access-content p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}
.lower-text{
    margin-top: 16px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-section{
    background-color: #001931;
    padding: 120px 120px 30px;
}
.footer-section p{
    margin-top: 30px;
    text-align: center;
    color: #FAFAFA;
}
hr{
    border: none;
    height: 1px;
    background-color: #E5E7EB;
    margin-top: 50px;
}
.social-icon p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.social-icon i{
    font-size: 24px;
    color: #fff;
    margin-right: 16px;
    cursor: pointer;
}